.PortfolioBigText {
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    color: #070707;
    font-family: Gill Sans, sans-serif;
}

.movieApp{
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {

    .portfolio{
        background-color:#F6F6F6;
    }
}