.PortfolioBigText {
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    color: #070707;
    font-family: Gill Sans, sans-serif;
}

.portfolio{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.movieApp{
    width: 90%;
    margin: 0 auto;
}

.movieApp img{
    width: 100%;
    margin: 0 auto;
}

.netShop{
    width: 90%;
    margin: 0 auto;
}

.netShop img{
    width: 100%;
    margin: 0 auto
}

.delimiter{
    width: 1920px;
    height: 1px;
    background-color: #070707;
}

.eventsManager{
    width: 90%;
    margin: 0 auto;
}

.eventsManager img{
    width: 100%;
    margin: 0 auto
}

@media screen and (max-width: 400px) {

    .portfolio{
        background-color:#F6F6F6;
    }
}
